<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <!-- Link to Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="/public/styles/styles.css" />
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <title>What's for dinner?</title>
</head>

<body>
  <section class="jumbotron text-center shadow-lg bg-info" style="color:white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">What's for dinner?</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <div class="row text-center mb-4">
      <div class="col-md-12">
        <div class="card text-center shadow-lg">
          <div class="card-header text-white bg-warning">
            <h4>Would you like to stay in or go out?</h4>
          </div>

          <div class="card-body">

            <div class="btn-group btn-group-toggle p-2" data-toggle="buttons">

              <label class="btn btn-outline-warning mr-2" id="in-button" style="height:50px;width:250px">
                <input type="radio" name="options" autocomplete="off"> EAT IN
              </label>
              <label class="btn btn-outline-warning mr-2" id="out-button" style="height:50px;width:250px">
                <input type="radio" name="options" autocomplete="off"> EAT OUT
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card text-center shadow-lg" id="location-card">
      <div class="card-header text-white bg-info">
        <h4>Where are you located?</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Please enter your zip code:</h5>
        <form>
          {{!-- <input type="text" class="form-control" id="zipcode-form" placeholder="Enter your zipcode"> --}}
          <textarea type="text" rows="1" id="zipcode-form" name="zipcode"></textarea><br>
          <button type="submit" class="btn btn-info mb-2" id="zipcode-button">Next</button>
        </form>
      </div>
      <div class="card-footer text-muted text-right">
        <a class="btn btn-white mb-2 startover-button" href="/" role="button">Start Over</a>
      </div>
    </div>


    <div class="card text-center shadow-lg" id="category-card">
      <div class="card-header text-white bg-info">
        <h4>What are you in the mood for?</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Please choose a category:</h5>

        <div class="btn-group btn-group-toggle p-2" data-toggle="buttons">
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="italian" id="italian-out" autocomplete="off"> Italian
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="indian" id="indian-out" autocomplete="off"> Indian
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="mexican" id="mexican-out" autocomplete="off"> Mexican
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="american" id="american-out" autocomplete="off"> American
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="mediterranean" id="mediterranean-out" autocomplete="off">
            Mediterranean
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outCategory" value="comfortfood" id="comfortfood-out" autocomplete="off"> Comfort
            Food
          </label>
        </div>
        <div>
          <button type="submit" class="btn btn-info mb-2 mt-2" id="category-button">Next</button>
        </div>
      </div>
      <div class="card-footer text-muted text-right">
        <a class="btn btn-white mb-2 startover-button" href="/" role="button">Start Over</a>
      </div>
    </div>


    <div class="card text-center shadow-lg" id="spend-card">
      <div class="card-header text-white bg-info">
        <h4>How much are you looking to spend?</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Please choose a price range:</h5>

        <div class="btn-group btn-group-toggle p-2" data-toggle="buttons">
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outSpend" value="1" id="outSpend1" autocomplete="off"> $
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outSpend" value="2" id="outSpend2" autocomplete="off"> $$
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outSpend" value="3" id="outSpend3" autocomplete="off"> $$$
          </label>
          <label class="btn btn-outline-info mr-2">
            <input type="radio" name="outSpend" value="4" id="outSpend4" autocomplete="off"> $$$$
          </label>
        </div>
        <div>
          <button type="submit" class="btn btn-info mb-2 mt-2" id="spend-button">Next</button>
        </div>
      </div>
      <div class="card-footer text-muted text-right">
        <a class="btn btn-white mb-2 startover-button" href="/" role="button">Start Over</a>
      </div>
    </div>


    <div class="card text-center shadow-lg" id="results-card">
      <div class="card-header text-white bg-info">
        <h4>Which one looks better?</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Results:</h5>
      </div>
      <div class="card-footer text-muted text-right">
        <a class="btn btn-white mb-2 startover-button" href="/" role="button">Start Over</a>
      </div>
    </div>



  </div>


  <script type="text/javascript">

    var startApp = function () {
      $("#location-card, #category-card, #spend-card, #results-card").hide();
    };


    var outAnswers = {
      zipcode: "",
      category: "",
      spend: "",
    }

    var submitOutAnswers = function () {

      // AJAX post the data to the out API.
      $.post("/api/out", outAnswers, function (res) {

        console.log("Submitted: ", outAnswers);
        $("#results-card").show("slow");
      });
    };

    $(document).ready(function () {

      startApp();

      $("#out-button").on("click", function (event) {
        event.preventDefault();

        $("#location-card").show("slow");
      });

      $("#zipcode-button").on("click", function (event) {
        event.preventDefault();

        outAnswers.zipcode = $("#zipcode-form").val().trim();
        console.log(outAnswers.zipcode)
        $("#location-card").hide("slow");
        $("#category-card").show("slow");
      });

      $("#category-button").on("click", function (event) {
        event.preventDefault();

        outAnswers.category = $('input[name=outCategory]:checked').val();
        console.log(outAnswers.category)
        $("#category-card").hide("slow");
        $("#spend-card").show("slow");
      });

      $("#spend-button").on("click", function (event) {
        event.preventDefault();
        outAnswers.spend = $('input[name=outSpend]:checked').val();
        console.log(outAnswers.spend)
        $("#spend-card").hide("slow");
        console.log(outAnswers)
        submitOutAnswers();
      });

    });


  </script>

</body>